{% extends 'dashboard/header.html' %}}
{% block content %}
<div class="container" id="search">
   </br>
   <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
         <form action="getData" method="get">

            <input class="form-control" type="text" placeholder="Search" id="q" name="q" aria-label="q" required>

            <div class="form-row">
               <div class="form-group col-md-4">
                  <label for="language">Language</label>
                  <select id="language" class="form-control" name="language" >
                     <option selected>Any</option>
                     {% for lang in language %}
                     <option value="{{ lang }}">{{ lang }}</option>
                     {% endfor %}
                  </select>
               </div>

               <div class="form-group col-md-4">
                  <label for="country">Country</label>
                  <select id="country" class="form-control" name="country">
                     <option selected>Any</option>
                     {% for country in Country %}
                     <option value="{{ country }}">{{ country }}</option>
                     {% endfor %}
                  </select>
               </div>
               <div class="form-group col-md-4">
                  <label for="ver_status">Verified user</label>
                  <select id="ver_status" class="form-control" name="ver_status">
                     <option selected>Any</option>
                     {% for ver_status in ver_statuses %}
                     <option value="{{ ver_status }}">{{ ver_status }}</option>
                     {% endfor %}
                  </select>
               </div>

            </div>
            <button type="submit" class="btn btn-primary">Search</button>
         </form>
      </div>
   </div>
   <div class="col-sm-2"></div>
</div>
{% endblock %}